<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="User-Mapper">
 	
 	<select id="selectUserById" resultType="User" parameterType="str">
 		SELECT 	USER_ID
 				,USER_PW
 				,SIGN_UP_DATE
 				,NICKNAME
 		FROM MEMBER
 		WHERE USER_ID = #{userId}
 	</select>
 	
 </mapper>